.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.title {
	color: #181818;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 20px 0;
}

@media (max-width: 768px) {
	.wrapper {
		overflow-x: auto;
		padding: 0 0 12px 0;
	}
	.title {
		font-size: 16px;
	}
}
